@media (orientation: portrait) and (max-device-width: 360px) {

  body.page {
    background: url('/public/img/xavierdamman-homepage-360px.jpg') no-repeat;
    padding-top: 100%;
    background-size: 100%;
  }


}
