<html>
  <head>
    <title>Post title: </title>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <meta name="viewport" content="width=device-width" />
    <script src="/public/lib/requirejs/require.js" data-main="/public/js/main.js"></script>
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        {{{content}}}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Copyleft Xavier Damman (<a href="http://twitter.com/xdamman">@xdamman</a>) - please share/edit/redistribute</p>
      </div>
    </div>
  </body>
</html>
