<h1>Welcome to BlogDown <small>one repo, one blog</small></h1>

{{#if alert}}
  <div class="alert alert-{{alert.class}}">
    {{alert.msg}}
  </div>

  <div id="spinningSquaresG">
    <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
    <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
    <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
    <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
    <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
    <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
    <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
    <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
  </div>


{{/if}}

{{^alert}}

  <h4>1. Create a new repo that will host your markdown files</h4>
  <p>It should have the following structure (<a href="http://github.com/xdamman/website-content">see an example here</a>):</p>
  <pre>
    - posts/
        |- my-first-blog-post.md
    - partials/ (optional)
        |- about.md
    - themes/ (optional)
        | - mytheme/
             | - css/
             | - js/
             | - img/
             | - layout.hbs (handlebar layout)
             | - home.hbs (template for the homepage)
             | - post.hbs (template for the post page)
             | - partials/
                  | - _footer.hbs (template for the footer)</pre>

  <h4>2. Go to the settings of your github repo and add a webhook like this:</h4>
    <div class="img_container">
      <img src="/img/setup-webhook.png" class="img-responsive" />
    </div>
  <h4>3. Then click on "Test Hook" and "Update settings"  and refresh this page</h4>

{{/alert}}
