
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    width: 100%; 
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}

a {
  color: #069;
}

body.page .lead {
  margin-top: 20px;
}

@media (min-height: 700px) and (min-width: 1100px) {
  body.page {
    background: url('/public/img/xavierdamman-homepage.jpg') no-repeat;
    background-size: contain;
    background-position: 0 100%;
    background-color: #DCDEEA;
    background-attachment: fixed;
    padding-left: 300px;
  }

  body.page #footer {
    padding-left: 350px;
    background: none;
  }

  body.page .lead {
    margin-top: 50px;
  }

}

body.home h4 {
  margin: 18px 0px 6px 0px;
}

body.page h4 a {
}

body.page .post-item .timeago {
  font-weight: normal;
  font-size: 11px;
  color: #555;
}

body.page .post-item p {
  font-size: 14px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
 /* Negative indent footer by its height */
  margin: 0 auto -40px;
 /* Pad bottom by footer height */
  padding: 0 0 40px;
}

#wrap > .container {
  background: rgba(255,255,255,0.5);
}

/* Set the fixed height of the footer here */
#footer {
  min-height: 40px;
  width: 100%;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 660px;
  padding: 0;
}

.list-group:first-of-type {
  margin-top: 15px;
}


img {
  max-width: 100%;
  align:center;
}

video {
  margin: 20px 0px;
  width: 100%;
  max-width: 650px;
}

h1, h2, h3, h4, p {
  padding: 0 15px;
  line-height: 1.3;
}

p, li {
  font-size: 16px;
  color: rgb(50,50,50);
  line-height: 1.5;
}

p.lead {
  font-size: 18px;
}

.about {
  margin:30px 15px;
}

.about h1, .about h2, .about h3, .about h4 {
  padding: 0px;
}
.about p {
  padding:0px;
  font-size: 14px;
}

.post h1 {
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 33px;
}

.post h2 {
  font-size: 18px;
}

.post h3 {
  font-size: 17px;
  font-weight: bold;
}

.post .byline {
  padding: 0 15px;
  margin-top: -20px;
  margin-bottom: 15px;
  color: #888;
}

.container .credit {
  margin: 10px 0;
  font-size:12px;
}
 
.twitter-tweet {
  margin: 20px auto !important;
}

.avatar {
  border-radius: 50%;
}
