<div class="container">
  <p class="text-muted credit">
    <a href="http://github.com/xdamman/blogdown">Powered by BlogDown</a>
    - <a href="http://github.com/xdamman/github">Github</a>
  </p>
</div>
