<div class="container">
  <p class="text-muted credit">
    <span class="link_home">
      <a href="{{config.base_url}}">Home</a> -
    </span>
    <a href="{{config.repository.url}}">Edit this blog on Github</a>
    <span class="pull-right poweredby"><a href="http://github.com/xdamman/blogdown">Powered by BlogDown</a></span>
  </p>
</div>
